@keyframes up{

    from{
        opacity:0;
        transform:translateY(15px);
    }
to{
    opacity: 1;
    transform:translateY(0)
}

}

.animate-up{
    /* nome da animação feita, tempo , e faz com que a animação seja aplicada para cada um que utilizarmos esse estilo */
    animation-name:up;
    animation-duration:300ms;
    animation-fill-mode: backwards;
}
